* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 38px;
    font-weight: 900;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    cursor: default;
}
.cursor {
    height: 20px;
    width: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    mix-blend-mode: difference;
    /* mix-blend-mode: hue; */
    z-index: 10000;
    border-radius: 100%;
    pointer-events: none;
    transition: transform 10s;
}
h1:hover + .cursor {
    transform: scale(30);
}